In [1]:
import pandas as pd
import datetime
from finquant.portfolio import build_portfolio
from finquant.moving_average import compute_ma, ema
from finquant.moving_average import plot_bollinger_band
from finquant.efficient_frontier import EfficientFrontier

In [2]:
### DOES OUR OPTIMIZATION ACTUALLY WORK? 
# COMPARING AN OPTIMIZED PORTFOLIO WITH OTHER 2: THE FIRST WITH THE SAME AMOUNT OF ALL CURRENCIES AND ONE WITH ETH ONLY

In [3]:
# TIME-FRAME: WINTER 2021 IN WHICH ALL CURRENCIES WERE WERE GOING UP
# NO STABLECOINS

In [4]:
L = ['ETH', 'BTC', 'USDT', 'USDC','ENJ', 'MANA']
names = ['ETH-USD', 'BTC-USD', 'ENJ-USD', 'MANA-USD']
start_date = '2021-01-01'
end_date = '2021-03-01' #datetime.date.today()
pf = build_portfolio(names=names, data_api="yfinance", start_date=start_date,end_date=end_date)

[*********************100%***********************]  4 of 4 completed

In [5]:
pf.data=pf.data.fillna('nan')
for i in range(pf.data.shape[0]):
    for k in range(pf.data.shape[1]):
        if pf.data.iloc[i,k]=='nan':
            pf.data.iloc[i,k]=pf.data.iloc[i-1,k]
pf.data.head()

                ETH-USD       BTC-USD   ENJ-USD  MANA-USD
Date
2020-12-31   737.803406  29001.720703  0.130665  0.078251
2021-01-01   730.367554  29374.152344  0.136010  0.083738
2021-01-02   774.534973  32127.267578  0.132031  0.079552
2021-01-03    975.50769  32782.023438  0.135379  0.081424
2021-01-04  1040.233032  31971.914062  0.141238  0.079421

In [6]:
pf.properties()

----------------------------------------------------------------------
Stocks: ETH-USD, BTC-USD, ENJ-USD, MANA-USD
Time window/frequency: 252
Risk free rate: 0.005
Portfolio Expected Return: 4.900
Portfolio Volatility: 1.041
Portfolio Sharpe Ratio: 4.704

Skewness:
    ETH-USD   BTC-USD   ENJ-USD  MANA-USD
0 -0.146324  0.616203 -0.094322  0.361746

Kurtosis:
    ETH-USD   BTC-USD   ENJ-USD  MANA-USD
0 -0.595774 -0.748084 -1.285856 -1.196845

Information:
   Allocation      Name
0        0.25   ETH-USD
1        0.25   BTC-USD
2        0.25   ENJ-USD
3        0.25  MANA-USD
----------------------------------------------------------------------

In [7]:
ef=EfficientFrontier(pf.comp_mean_returns(freq=30), pf.comp_cov(), risk_free_rate=0.0232)
max_sr=ef.maximum_sharpe_ratio().reset_index().rename({"index":"Crypto"},axis=1)
data = {i : {'Name':max_sr.iloc[i,0], "Allocation":max_sr.iloc[i,1]}for i in range(max_sr.shape[0])}
alloc=[max_sr.iloc[i,1] for i in range(max_sr.shape[0])]
data

{0: {'Name': 'ETH-USD', 'Allocation': 0.30553927840821116},
 1: {'Name': 'BTC-USD', 'Allocation': 0.0404233123406991},
 2: {'Name': 'ENJ-USD', 'Allocation': 0.3763079975698856},
 3: {'Name': 'MANA-USD', 'Allocation': 0.27772941168120413}}

In [8]:
pf_allocation = pd.DataFrame.from_dict(data, orient="index")
names=pf_allocation["Name"].values.tolist()
pf_opt = build_portfolio(names=names,pf_allocation=pf_allocation, start_date=start_date ,end_date=end_date,data_api="yfinance")
pf_opt.properties()

[*********************100%***********************]  4 of 4 completed
----------------------------------------------------------------------
Stocks: ETH-USD, BTC-USD, ENJ-USD, MANA-USD
Time window/frequency: 252
Risk free rate: 0.005
Portfolio Expected Return: 5.787
Portfolio Volatility: 1.208
Portfolio Sharpe Ratio: 4.784

Skewness:
    ETH-USD   BTC-USD   ENJ-USD  MANA-USD
0 -0.146324  0.616203 -0.094322  0.361746

Kurtosis:
    ETH-USD   BTC-USD   ENJ-USD  MANA-USD
0 -0.595774 -0.748084 -1.285856 -1.196845

Information:
       Name  Allocation
0   ETH-USD    0.305539
1   BTC-USD    0.040423
2   ENJ-USD    0.376308
3  MANA-USD    0.277729
----------------------------------------------------------------------

In [ ]:
# OUR OPTIMIZATION EXPECTS A RETURN OF 578%

In [9]:
start_date = '2021-03-01'
end_date = '2021-04-01'

pf_real = build_portfolio(names=names, data_api="yfinance", start_date=start_date,end_date=end_date)
pf_real.data=pf_real.data.fillna('nan')
for i in range(pf_real.data.shape[0]):
    for k in range(pf_real.data.shape[1]):
        if pf_real.data.iloc[i,k]=='nan':
            pf_real.data.iloc[i,k]=pf_real.data.iloc[i-1,k]
ds=pf_real.data
ds

[*********************100%***********************]  4 of 4 completed

                ETH-USD       BTC-USD   ENJ-USD  MANA-USD
Date
2021-02-28  1416.048950  45137.769531  0.567316  0.236226
2021-03-01  1564.707642  49631.242188  0.703415  0.260400
2021-03-02  1492.608765  48378.988281  0.797865  0.278213
2021-03-03  1575.853149  50538.242188  1.190884  0.347292
2021-03-04  1541.914307  48561.167969  1.307544  0.420843
2021-03-05  1533.275024  48927.304688  1.209871  0.377790
2021-03-06  1654.741577  48912.382812  1.162378  0.360716
2021-03-07  1723.153809  51206.691406  1.411287  0.403035
2021-03-08  1834.727905  52246.523438  1.742369  0.485644
2021-03-09  1868.048828  54824.117188  1.719800  0.548500
2021-03-10  1799.166260  56008.550781  1.658309  0.480549
2021-03-11  1826.194946  57805.121094  1.795777  0.521761
2021-03-12  1772.102417  57332.089844  2.077887  0.661861
2021-03-13  1924.685425  61243.085938  2.045401  0.969157
2021-03-14  1854.564331  59302.316406  2.357649  1.022251
2021-03-15  1791.702271  55907.199219  2.698601  1.059028
2021-03-16  1806.971802  56804.902344  2.563133  0.907988
2021-03-17  1823.449341  58870.894531  2.473254  1.064258
2021-03-18  1782.855103  57858.921875  2.667496  0.982085
2021-03-19  1817.624146  58346.652344  2.503608  0.968173
2021-03-20  1812.634644  58313.644531  2.216193  0.894733
2021-03-21  1788.217041  57523.421875  2.450587  0.986184
2021-03-22  1691.333984  54529.144531  2.184661  0.924227
2021-03-23  1678.650146  54738.945312  2.070117  0.851307
2021-03-24  1593.413452  52774.265625  2.232366  0.857738
2021-03-25  1595.359253  51704.160156  2.134432  0.824618
2021-03-26  1702.842041  55137.312500  2.346663  0.898915
2021-03-27  1716.494629  55973.511719  2.325018  0.928716
2021-03-28  1691.355957  55950.746094  2.542395  1.154400
2021-03-29  1819.684937  57750.199219  2.512734  1.093468
2021-03-30  1846.033691  58917.691406  2.527390  1.094922
2021-03-31  1918.362061  58918.832031  2.590342  1.027426

In [10]:
returns = {i : {'Name':ds.columns[i], "Returns":(ds.iloc[-1,i]-ds.iloc[0,i])/ds.iloc[0,i]}for i in range(ds.shape[1])}
r=[(ds.iloc[-1,i]-ds.iloc[0,i])/ds.iloc[0,i] for i in range(ds.shape[1])]
returns,r

({0: {'Name': 'ETH-USD', 'Returns': 0.35472863440369035},
  1: {'Name': 'BTC-USD', 'Returns': 0.3053111095899195},
  2: {'Name': 'ENJ-USD', 'Returns': 3.5659598257319853},
  3: {'Name': 'MANA-USD', 'Returns': 3.349334842377643}},
 [0.35472863440369035,
  0.3053111095899195,
  3.5659598257319853,
  3.349334842377643])

In [11]:
DATA = pd.DataFrame(names, columns=['Crypto'])
DATA["p_1"]=alloc
DATA["p_2"]=0.2
DATA["p_3"]=0
DATA.iloc[0,3]=1
DATA["Returns"]=r
DATA

     Crypto       p_1  p_2  p_3   Returns
0   ETH-USD  0.305539  0.2    1  0.354729
1   BTC-USD  0.040423  0.2    0  0.305311
2   ENJ-USD  0.376308  0.2    0  3.565960
3  MANA-USD  0.277729  0.2    0  3.349335

In [12]:
p_1_returns = 0
p_2_returns = 0
p_3_returns = 0
for i in range(DATA.shape[0]):
    p_1_returns+=DATA.iloc[i,1]*DATA.iloc[i,4]
    p_2_returns+=DATA.iloc[i,2]*DATA.iloc[i,4]
    p_3_returns+=DATA.iloc[i,3]*DATA.iloc[i,4]

p_1_returns,p_2_returns,p_3_returns

(2.392833214063235, 1.5150668824206477, 0.35472863440369035)

In [ ]:
# AS WE CAN SEE, OUR PORTFOLIO PERFORMED MUCH BETTER, WITH 240% ACTUAL RETURN RATE

In [13]:
# TIME_FRAME: SUMMER 2021, WHEN CRYPTOS WERE GOING DOWN
# WITH STABLECOINS

In [14]:
L = ['ETH', 'BTC', 'USDT', 'USDC','ENJ', 'MANA']
names = ['ETH-USD', 'BTC-USD', 'ENJ-USD', 'MANA-USD', 'USDC-USD','USDT-USD']
start_date = '2021-06-01'
end_date = '2021-09-01' #datetime.date.today()
pf = build_portfolio(names=names, data_api="yfinance", start_date=start_date,end_date=end_date)

[*********************100%***********************]  6 of 6 completed

In [15]:
pf.data=pf.data.fillna('nan')
for i in range(pf.data.shape[0]):
    for k in range(pf.data.shape[1]):
        if pf.data.iloc[i,k]=='nan':
            pf.data.iloc[i,k]=pf.data.iloc[i-1,k]
pf.data.head()

                ETH-USD       BTC-USD   ENJ-USD  MANA-USD  USDC-USD  USDT-USD
Date
2021-05-31  2714.945312  37332.855469  1.629756  0.850733  1.000264  1.000533
2021-06-01  2633.518311  36684.925781  1.570636  0.828951  1.000025  1.000109
2021-06-02  2706.125000  37575.179688  1.576505  0.857035  1.000277  1.000550
2021-06-03  2855.126465  39208.765625  1.648532  0.886840  1.000242  1.000571
2021-06-04  2688.195068  36894.406250  1.497308  0.815569  1.000749  1.001038

In [16]:
ef=EfficientFrontier(pf.comp_mean_returns(freq=30), pf.comp_cov(), risk_free_rate=0.0232)
max_sr=ef.maximum_sharpe_ratio().reset_index().rename({"index":"Crypto"},axis=1)
data = {i : {'Name':max_sr.iloc[i,0], "Allocation":max_sr.iloc[i,1]}for i in range(max_sr.shape[0])}
alloc=[max_sr.iloc[i,1] for i in range(max_sr.shape[0])]
pf_allocation = pd.DataFrame.from_dict(data, orient="index")
names=pf_allocation["Name"].values.tolist()
pf_opt = build_portfolio(names=names,pf_allocation=pf_allocation, start_date=start_date ,end_date=end_date,data_api="yfinance")
pf_opt.properties()

[*********************100%***********************]  6 of 6 completed
----------------------------------------------------------------------
Stocks: ETH-USD, BTC-USD, ENJ-USD, MANA-USD, USDC-USD, USDT-USD
Time window/frequency: 252
Risk free rate: 0.005
Portfolio Expected Return: 0.065
Portfolio Volatility: 0.046
Portfolio Sharpe Ratio: 1.300

Skewness:
    ETH-USD   BTC-USD   ENJ-USD  MANA-USD  USDC-USD  USDT-USD
0  0.307993  0.532192  0.802842 -0.010326  1.097377  0.621434

Kurtosis:
    ETH-USD   BTC-USD  ENJ-USD  MANA-USD  USDC-USD  USDT-USD
0 -1.216315 -1.073198  0.42159 -0.525589  2.322316  1.081765

Information:
       Name    Allocation
0   ETH-USD  1.726851e-02
1   BTC-USD  5.059439e-02
2   ENJ-USD  6.267677e-03
3  MANA-USD  0.000000e+00
4  USDC-USD  9.258694e-01
5  USDT-USD  1.377404e-11
----------------------------------------------------------------------

In [ ]:
# OUR OPTIMIZATION EXPECTS A RETURN OF 6.5%

In [17]:
start_date = '2021-09-01'
end_date = '2021-10-01'

pf_real = build_portfolio(names=names, data_api="yfinance", start_date=start_date,end_date=end_date)
pf_real.data=pf_real.data.fillna('nan')
for i in range(pf_real.data.shape[0]):
    for k in range(pf_real.data.shape[1]):
        if pf_real.data.iloc[i,k]=='nan':
            pf_real.data.iloc[i,k]=pf_real.data.iloc[i-1,k]
ds=pf_real.data
ds.head()

[*********************100%***********************]  6 of 6 completed

                ETH-USD       BTC-USD   ENJ-USD  MANA-USD  USDC-USD  USDT-USD
Date
2021-08-31  3433.732666  47166.687500  2.019656  0.943173  1.000214  1.000529
2021-09-01  3834.828125  48847.027344  2.082670  0.982482  0.999819  1.000321
2021-09-02  3790.989990  49327.722656  2.049860  0.966875  1.000021  1.000281
2021-09-03  3940.614746  50025.375000  2.070470  0.995571  0.999840  1.000220
2021-09-04  3887.828369  49944.625000  2.094822  1.052638  0.999937  1.000384

In [18]:
returns = {i : {'Name':ds.columns[i], "Returns":(ds.iloc[-1,i]-ds.iloc[0,i])/ds.iloc[0,i]}for i in range(ds.shape[1])}
r=[(ds.iloc[-1,i]-ds.iloc[0,i])/ds.iloc[0,i] for i in range(ds.shape[1])]
DATA = pd.DataFrame(names, columns=['Crypto'])
DATA["p_1"]=alloc
DATA["p_2"]=0.2
DATA["p_3"]=0
DATA.iloc[0,3]=1
DATA["Returns"]=r
DATA

     Crypto           p_1  p_2  p_3   Returns
0   ETH-USD  1.726851e-02  0.2    1 -0.125826
1   BTC-USD  5.059439e-02  0.2    0 -0.071572
2   ENJ-USD  6.267677e-03  0.2    0 -0.352957
3  MANA-USD  0.000000e+00  0.2    0 -0.270301
4  USDC-USD  9.258694e-01  0.2    0 -0.000074
5  USDT-USD  1.377404e-11  0.2    0 -0.000374

In [19]:
p_1_returns = 0
p_2_returns = 0
p_3_returns = 0
for i in range(DATA.shape[0]):
    p_1_returns+=DATA.iloc[i,1]*DATA.iloc[i,4]
    p_2_returns+=DATA.iloc[i,2]*DATA.iloc[i,4]
    p_3_returns+=DATA.iloc[i,3]*DATA.iloc[i,4]

p_1_returns,p_2_returns,p_3_returns

(-0.008074698557683693, -0.16422085029629024, -0.1258262517678288)

In [ ]:
# ACTUAL RETURN RATE IS -0.8%, WAY LOWER THAN THE OTHER PORTFOLIOS